@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Manrope:wght@500&family=Montserrat:wght@200;300;400;500;600&family=Playfair+Display:ital,wght@0,600;0,700;0,800;1,600;1,700&family=Poppins:ital,wght@0,700;1,400;1,900&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,900;1,100;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.fontForlogo {
  font-family: "Manrope", sans-serif;
}

.HeroImg {
  height: 400px;
  margin-top: 50px;
  border-radius: 200px 0 0 200px;
  transform: rotate(-10deg);
}
.HeroImg img {
  width: 100%;
  height: 500px;
  transform: rotate(10deg);
  object-fit: cover;
  position: relative;
  top: -65px;
}

select {
  width: 100%;
  height: 45px;
  -webkit-appearance: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  
}
.featurefont{
  font-family: "Manrope", sans-serif;;
}
